<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
 
    <title>Snake</title>
   
    <script src="assets/js/phaser.min.js"></script>
    <script src="assets/js/menu.js"></script>
    <script src="assets/js/game.js"></script>
    <script src="assets/js/game_over.js"></script>
    <script src="assets/js/main.js"></script>
</head>
<body>
    <form action="/send_code" method="post"> 
        CODE :<input type="text" name="code"><br>                                                              
        보내기<input type="submit">
    </form>
</body>
</html>

