<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
 
    <title>Snake</title>
   
    <script src="assets/js/phaser.min.js"></script>
    <script src="assets/js/menu.js"></script>
    <script src="assets/js/game.js"></script>
    <script src="assets/js/game_over.js"></script>
    <script src="assets/js/main.js"></script>
</head>
<body>
    <form> 
        CODE :<textarea id="code" style="resize:none; width:400px; height:300px;" name="code"></textarea><br>                                                              
        보내기<input class="sendcode" type="button">
    </form>
    <script>
        document.querySelector('.sendcode').addEventListener('click', function() {
            sendAjax('/form_receive', code.value);
        }) //form_receive : 
        function sendAjax(url, data) {
            var data = {
                'code': data
            };
            data = JSON.stringify(data);
            var xhr = new XMLHttpRequest();
            xhr.open('POST', url, true);
            xhr.setRequestHeader('Content-type', 'application/json');
            xhr.send(data);

            xhr.addEventListener('load', function() {
                var result = JSON.parse(xhr.responseText);
                if (result.result != 'ok') return;
                document.getElementById('output').value = result.output;
            });
        }
        script(src = 'https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    </script>
</body>
</html>

