<html>
    <head><h1>Register</h1></head>
    <body>
        <form action="/register" method="post">
            <label>nickname</label>
            <input type="text" name="nick" id="nick"><br>
            <label>id</label>
            <input type="text" name="id" id="id"><br>
            <label>password</label>
            <input type="text" name="pw" id="pw"><br>  
            <button type="submit">회원가입</button>
        </form>
        <form action="/" method="get">
            <button type="submit">뒤로가기</button>
        </form>
    </body>
</html>