<html>
    <head><h1>Register</h1></head>
    <body>
        <form action="/register" method="post" onsubmit = "return checkflag()"> <!--submit으로 form에 있는 데이터 서버로 보내줌-->
            <label>nickname</label>
            <input type="text" name="nick" id="nick"><br>
            <label>id</label>
            <button onclick="checkdp('0')">중복 확인</button>
            <!--id 중복검사 필수-->
            <input type="text" name="id" id="id"><br>
            <label>password</label>
            <input type="text" name="pw" id="pw"><br>  
            <button type="submit">회원가입</button>
        </form>
        <form action="/" method="get">
            <button type="submit">뒤로가기</button>
        </form>
    </body>
    <script>
        
        var dpflag=1;
        function checkflag(){
            if(dpflag==1){
                alert("중복!");
            }else{
                alert("중복 아님!");
            }
            return false;
        }

        function checkdp(id){
            if(id=='1'){
                return;
            }else{
                dpflag=0;
            }

        }
    </script>
</html>